#section-1 {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  .section-1-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left:6rem;
    padding:8px;
    h1 {
      margin: 0;
    }
  }
  p {
    font-size: 2rem;
    margin: 0;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust the gap between buttons */
    margin-top: 32px; /* Add some space above the buttons */
    a {
      text-decoration: none;
    }
  }
}
@media (max-device-width: 375px) and (max-device-height: 812px) {
  #section-1 {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width:100%;
    padding-top: 48px;
    justify-content: flex-end;
    .section-1-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 8px;
      margin-left:0;
    }
    .button-container {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-top: 32px; /* Add some space above the buttons */
      a {
        text-decoration: none;
      }
    }
    .animatedText {
      font-size: 1.5rem !important ;
    }
    img {
      max-width: 19rem;
      max-height:19rem
    }
    p {
      font-size: 1rem;
      align-self: center;
    }
    h1 {
      align-self: center;
      font-size: 2rem;
    }
  }
}
