body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 800px) {
  body {
    padding: env(safe-area-inset-top, 20px)
    env(safe-area-inset-right, 1em)
    env(safe-area-inset-bottom, 0.5vh)
    env(safe-area-inset-left, 1.4rem);
  }
}
