.container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  padding: 3rem;
  padding-top: 6rem;
  justify-content: center;
}
#section-3 {
  padding: 0;
  margin: 0;
}
@media (max-width: 800px) {
  .container {
    height: 100svh;
    width: 100vw;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  section {
    display: flex;
    height:max-content;
    scroll-snap-align:unset;
    padding: 3rem;
    padding-top: 5rem;
    justify-content: center;
  }
}
